@tailwind base;
@tailwind components;
@tailwind utilities;


.layout {
  @apply w-[90%] max-w-[1290px] mx-auto;
}

.hero {
  background: linear-gradient(to right, rgba(0, 25, 148, 0.8), rgba(0, 25, 148, 0.5)), url('../public/images/hero/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1920/804;
}